@media(max-width: 1024px){
    /*Page produits*/
    #main-container{
        display: block;
        font-size: 20px;
    }


    .conteneur-left{
        width: 100%;
        padding: 10px;
        margin: 10px;
    }
    .conteneur-right{
        width: 100%;
        padding: 10px;
        margin: 10px;
    }

    .produits{
        margin: 0;
        padding: 10px;
    }
    .titre-produit{
        font-size: 18px;
    }
    .produit-card{
        margin-top: 20px;
    }
    .produit-card p{
        overflow: hidden;
        font-size: 14px;
    }
    .produit-card img{
        width: 100%;
    }
}



@media(max-width: 768px){
    .lien{
        display: none;
    }
    .menuBtn{
        display: block;
        position: relative;
        right: 30px;
        float: right;
    }
    .menuClasse.responsive  a.menuBtn{
        position: absolute;
        right: 10px;
        top: 10px;
    }


    .menuClasse.responsive a{
        display: block;
        text-align: left;
        margin-top: 20px;
        transition: 1s;
    }
}
@media screen and (max-height: 450px) {
    .aside {padding-top: 15px;}
    .aside a {font-size: 18px;}
}