@media(max-width: 768px){
    .lien{
        display: none;
    }
    .menuBtn{
        display: block;
        position: relative;
        right: 10px;
        float: right;
    }
    .menuClasse.responsive  a.menuBtn{
        position: absolute;
        right: 30px;
        top: 20px;
    }


    .menuClasse.responsive a{
        display: block;
        text-align: left;
        margin-top: 20px;
    }
}
@media screen and (max-height: 450px) {
    .aside {padding-top: 15px;}
    .aside a {font-size: 18px;}
}