/*GLOBALE HTML*/
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: #999999;
    font-weight: bold;
    overflow-x: hidden;
}

/*CLASSE TOGGLE DARK MODE*/
.dark-mode{
    background-color: #2c3e50;
    color: wheat!important;
}

a{
    text-decoration: none;
    color: wheat;
    font-size: 16px;
}

a:hover{
    color: #BA4C63;
}


/*LES COULEURS*/
.bleu-foncer{
    color: #2c3e50;
}
.vert{
   color: #1ABC9C;
}
.rouge{
    color: #BA4C63;
}
.marron{
    color: #CCB2A3;
}
.bleu{
    color: #1D83C1;
}
.turquoise{
    color: #1FA4B6;
}

/*LES TITRES*/
.titre-h2{
    color: #BA4C63;
    font-size: 40px;
}
.titre-h3{
    color: wheat;
    font-size: 30px;
}

/************************CONNEXION****************************/
.form-container{
    margin-top: 100px;
    background-color: #BA4C63;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5);
    text-align: center;
}
.form-label{
    font-size: 24px;
    color: wheat;
    margin-top: 20px;
    text-align: left!important;
    float: left;
}
.form-element{
    margin: 20px;
}

.email-input, .password-input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: #D98E73;
    border-radius: 5px;
}



.btn-valider{
    border: none;
    background-color: #1ABC9C;
    padding: 10px;
    margin-top: 20px;
    color: wheat;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    border-radius: 5px;
    transition: 0.2s;
}
.btn-valider:hover{
    cursor: pointer;
    background-color: #8C7251;
    color: white;
    transform: scale(1.1);
}

/*Le loader*/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hide-loader{
    display:none;
}

/*****************************NAVBAR*************************/
.btn-toggle:hover{
    cursor: pointer;
}
.menuClasse{
    background-color: #2c3e50;
    padding: 20px;
    width: 100%;
}
.lien{
    padding: 20px;
}
.active{
    color: wheat;
}
.menuBtn{
    display: none;
}
.btn-toggle{
    margin-left: 20px;
}
/********************************Left aside***********************/
.aside{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #8C7251;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.aside a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 26px;
    display: block;
    transition: 0.5s;
}

.aside .fermer {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#leftAside{
    color: wheat;
}

#main{
    transition: margin-left 0.5s;
    padding: 20px;
}

/********************************LISTE DES TACHES***********************/
.conteneur{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
ul li{
    cursor: pointer;
    transition: 0.2s;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    border-radius: 5px;
    margin-top: 10px;
}

ul li.checked{
    background-color: darkred;
    color: white;
    text-decoration: line-through;
}

/*Ajout input checkbox les border fabique le symbol check*/
ul li.checked::before {
    content: '';
    position: relative;
    border-color: wheat;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 0;
    left: 10px;
    transform: rotate(45deg);
    height: 15px;
    width: 5px;
}

.tache{
    background-color: #8C7251;
    color: wheat;
    padding: 10px;
}

.input-taches{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #8C7251;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: #D98E73;
}

.input-taches::-webkit-input-placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

.btn-ajouter{
    border: none;
    background-color: #70898C;
    padding: 10px;
    margin-top: 20px;
    color: wheat;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    border-radius: 5px;
    transition: 0.2s;
}

.btn-ajouter:hover{
    background-color: #8C7251;
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}

.checked{
    background-color: darkred;
    color: white;
    text-decoration: line-through;
}

.menu-label{
    color: orangered!important;
    font-weight: bold;
}
.supprimer{
    float: right;
    font-weight: bold;
    background-color: cadetblue;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    color: wheat;
}
.supprimer:hover{
    cursor: pointer;
    background-color: salmon;
    font-weight: bold;
    transform: scale(1.1);
}

/*******************************CASSE BRIQUES*********************/
.container-briques{
    text-align: center;
    width: 50%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
#monCanvas{
    border-radius: 5px;
    border: solid 2px #70898C;
}
@media (max-width: 990px) {
    .container-briques{
        text-align: center;
        width: 100%;
        padding: 5px;
        margin: 0;
    }
}

/*************************************Conteneur principale******************************/
.conteneur{
    width: 70%;
    text-align: center;
    border: solid 2px #70898C;
    border-radius: 5px;
    padding: 20px;
}
/*Page produits*/
#main-container{
    display: flex;
    justify-content: space-between;
}
.conteneur-left{
    width: 70%;
    text-align: center;
    border: solid 2px #70898C;
    border-radius: 5px;
    padding: 20px;
    margin-left: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
}
.conteneur-right{
    flex-wrap: wrap;
    width: 25%;
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
    border: solid 2px #70898C;
    border-radius: 5px;
    padding: 20px;
    margin-top: 40px;
}
.produits{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-produit{
    width: 100px;
    height: 100px;
}
.titre-produit{
    font-size: 35px;
    color: #1ABC9C;
}
select{
    padding: 10px;
    border: solid #3498db 2px;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
}
.produit-card{
    display: block;
    width: 33%;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}
.produit-card-panier{
    color: #3498db;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
    font-size: 16px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.input-quantite{
    border: solid 2px #70898C;
    border-radius: 10px;
    height: 20px;
    padding: 10px;
}
.prix-para{
    display: block;
}

#panier{
    padding: 0;
}

.supprimer-produit{
    font-size: 60px;
    color: #F25041;.
}

.btn-inline-quantite{
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantite{
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.nom{
    font-size: 18px;
    color: #BA4C63;
}

.prix{
    color: darkcyan;
    font-size: 22px;
}
.rechercher{
    border: none;
    border-bottom: #1ABC9C solid 2px;
    outline: none;
    width: 90%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
}

.produit-card-result{
    display: block;
    width: 33%;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #2c3e50;
    color: #BA4C63;
}

/*********************BLOC 1*****************/
.bloc1{
    background-color: #1ABC9C;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
}
.line-star-parent{
    display: flex;
    justify-content: center;
}
.line-white{
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50;
}

/*****************BLOC 2*/
.bloc2{
    text-align: center;
}

.card-parent{
    display: flex;
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
}
.card-enfant{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin-top: 40px;
}

@media(max-width: 990px){
    .card{
        width: 100%;
        margin-top: 20px;
    }
}

.card img{
    width: 90%;
    border-radius: 20px;
    flex-wrap: wrap;
}

/*Bloc 3*/
.bloc3{
    text-align: center;
    background-color: #1ABC9C;
    padding: 40px;
    margin-top: 40px;
}
.bloc3-enfant{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: wheat;

}
.para-parent{
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 40px;
}
.btn-download{
    border: none;
    background-color: #BA4C63;
    padding: 10px;
    margin-top: 20px;
    color: wheat;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    border-radius: 5px;
    transition: 0.2s;
}
.btn-download:hover{
    cursor: pointer;
    background-color: #8C7251;
    color: white;
    transform: scale(1.1);
}

/*BLOC 4*/
.bloc4{
    text-align: center;
    padding: 40px;
    margin-top: 40px;
}
.bloc4-enfant{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: #1ABC9C;
}
.input{
    text-align: left;
    margin: 20px 0 20px 0;
}
.inputForm{
    width: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px #BA4C63 solid;
}

#btn-form{
    float: left;
}

/*Footer*/
#footer{
    background-color: #2c3e50;
    color: wheat;
    margin-top: 100px;
}
.footer-enfant{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.footer-center i{
    padding: 25px;
}


/*TEST*/
#tableau1 ul li{
    display: block;
    text-align: center;
}
.classeLI{
    padding: 20px;
    display: block;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
}